{
  "AWSEBDockerrunVersion": "1",
  "Image": {
    "Name": "363599773651.dkr.ecr.ap-southeast-1.amazonaws.com/readyanot-app:{{ branch_name }}-{{ commit_hash }}",
    "Update": "true"
  },
  "Ports": [
    {
      "ContainerPort": "3000"
    }
  ]
}
