---
- hosts: localhost
  gather_facts: false

  vars:
    home_dir: ..

  tasks:
    - include_vars: vars/common.yml

    - name: print deployment information
      vars:
        msg: |
          branch_name: {{ branch_name }}
          commit_hash: {{ commit_hash }}
          is_deploy: {{ is_deploy }}
          is_local: {{ is_local }}
      debug:
        msg: "{{ msg.strip().split('\n') }}"
      tags: debug_info
 
    - name: install global dependencies
      shell: npm install -g dotenv-cli @prisma/cli

    - include_tasks: tasks/get-env.yml

    - name: install dependencies
      shell: npm ci

    - name: fetch prisma schema from database
      shell: cd {{ home_dir }} && prisma generate

    - name: test build application
      shell: npm run build

    - name: build and tag docker image
      shell: |
        cd {{ home_dir }}
        docker build -t {{ app_name }} -f ansible/Dockerfile .
        docker tag {{ app_name }} {{ aws_ecr_url }}/{{ app_name }}:{{ commit_hash }}

    - name: push docker image to ecr
      shell: |
        docker login -u AWS -p $(aws ecr get-login-password --region ap-southeast-1) {{ aws_ecr_url }}
        docker push {{ aws_ecr_url }}/{{ app_name }}:{{ commit_hash }}
      when: is_deploy

    - name: generate dockerrun aws json
      template:
        src: templates/Dockerrun.aws.json.j2
        dest: '{{ home_dir }}/Dockerrun.aws.json'
      when: is_deploy

    - name: deploy to elastic beanstalk
      shell: eb deploy
      when: is_deploy
