---
- hosts: localhost
  gather_facts: false

  vars:
    # Notable branches
    dev_branch: dev
    prod_branch: main

    # Essential variables
    app_name: readyanot-app
    aws_ecr_url: 363599773651.dkr.ecr.ap-southeast-1.amazonaws.com
    home_dir: ..

    # Deployment information
    branch_name: "{{ lookup('env', 'GITHUB_REF') | default('demo', True) | basename }}"
    is_ci: "{{ lookup('env', 'CI') | default(false, True) }}"
    is_deploy: '{{ branch_name == prod_branch or branch_name == dev_branch }}'

  tasks:
    - include_vars: vars/common.yml

    - name: print deployment information
      vars:
        msg: |
          branch_name: {{ branch_name }}
          is_ci: {{ is_ci }}
          is_deploy: {{ is_deploy }}
      debug:
        msg: "{{ msg.strip().split('\n') }}"
      tags: debug_info

    - include_tasks: tasks/get-env.yml

    - name: install dependencies
      shell: npm ci

    - name: fetch prisma schema from database
      shell: cd {{ home_dir }} && prisma generate

    - name: test build application
      shell: npm run build

    - name: build and tag docker image
      shell: |
        cd {{ home_dir }}
        docker build -t {{ app_name }} -f ansible/Dockerfile .
        docker tag {{ app_name }} {{ aws_ecr_url }}/{{ app_name }}

    - name: push docker image to ecr
      shell: |
        docker login -u AWS -p $(aws ecr get-login-password --region ap-southeast-1) {{ aws_ecr_url }}
        docker push {{ aws_ecr_url }}/{{ app_name }}
      when: is_ci and is_deploy

    - name: deploy to elastic beanstalk
      shell: eb deploy
      when: false
