---
- hosts: localhost
  gather_facts: false
  vars:
    app_name: readyanot-app
    aws_ecr_url: 363599773651.dkr.ecr.ap-southeast-1.amazonaws.com
    home_dir: ..

  tasks:
    - name: fetch database credentials into .env
      shell: |
        ReadyAnotPg=$(aws secretsmanager get-secret-value --secret-id $"prod/ReadyAnot/PostgreSQL" | jq -r ".SecretString")
        username=$(jq ".username" <<< $ReadyAnotPg | tr -d \")
        password=$(jq ".password" <<< $ReadyAnotPg | tr -d \")
        host=$(jq ".host" <<< $ReadyAnotPg | tr -d \")
        port=$(jq ".port" <<< $ReadyAnotPg | tr -d \")
        rm -rf {{ home_dir }}/.env && echo DATABASE_URL=\"postgresql://$username:$password@$host:$port/postgres?schema=public\" >> {{ home_dir }}/.env

    - name: set environment facts
      set_fact:
        is_ci: "{{ lookup('env', 'CI') | default(false, True) }}"

    - name: install dependencies
      shell: npm ci

    - name: test build application
      shell: npm run build

    - name: build and tag docker image
      shell: |
        docker build -t {{ app_name }} {{ home_dir }}/.
        docker tag {{ app_name }} {{ aws_ecr_url }}/{{ app_name }}

    - name: push docker image to ecr
      shell: |
        docker login -u AWS -p $(aws ecr get-login-password --region ap-southeast-1) {{ aws_ecr_url }}
        docker push {{ aws_ecr_url }}/{{ app_name }}
      when: is_ci
